.footer {
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0 20px 0 !important;
}

ol {
  padding-top: 20px;
  width: 75%;
}

li {
  padding-bottom: 10px !important;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.lab2-img {
  width: 25vw;
  border: 2px solid lightgray;
  border-radius: 10px;
  margin-top: 20px;
}

.video-grid {
  display: flex;
}

.video-player{
  padding: 0 50px 0 100px;
}

.video-desc {
  padding: 0 100px 0 50px;
}

.transcript-section{
  padding: 0 0 0 50px;
}